extends common-layout.pug 

block content
  h1 My Coding Projects
  .posts-container 
    each post in posts
      article.post-preview
        h2: a(href=`/post/${post.slug}`)= post.title
        .post-meta
          span.date= new Date(post.date).toLocaleDateString()
          each tag in post.tags
            span.tag
              a(href=`/tag/${tag}`) ##{tag}
        .excerpt= post.excerpt
        a.read-more(href=`/post/${post.slug}`) Read More
