extends common-layout.pug 

block content
  h1= title || 'All Poems'
  .poems-container 
    each poem in poems
      article.poem-preview
        h2: a(href=`/poem/${poem.slug}`)= poem.title
        .poem-meta
          span.date= new Date(poem.date).toLocaleDateString()
          each tag in poem.tags
            span.tag
              a(href=`/tag/${tag}`) ##{tag}
        .excerpt!= poem.excerpt
        a.read-more(href=`/poem/${poem.slug}`) Read More
