---
import type { CollectionEntry } from 'astro:content';

export interface Props {
	poem: CollectionEntry<'poems'>;
}

const { poem } = Astro.props;
const { slug, data, body } = poem;

function formatDate(date: Date) {
	return new Intl.DateTimeFormat('en-US').format(date);
}

function createExcerpt(content: string, maxLength: number = 200) {
	if (data.excerpt) {
		return data.excerpt;
	}
	
	const stripped = content.replace(/[#*`\[\]()]/g, '');
	return stripped.length > maxLength 
		? stripped.substring(0, maxLength) + '...' 
		: stripped;
}
---

<article class="poem-preview">
	<h2><a href={`/poems/${slug}`}>{data.title}</a></h2>
	<div class="poem-meta">
		<span class="date">{formatDate(data.date)}</span>
		{data.tags.map((tag) => (
			<span class="tag">
				<a href={`/tags/${tag}`}>#{tag}</a>
			</span>
		))}
	</div>
	<div class="excerpt" set:html={createExcerpt(body)} />
	<a class="read-more" href={`/poems/${slug}`}>Read More</a>
</article>